@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    box-sizing: border-box;
}

p {
    margin: 0;
}

body {
    height: 100vh;
    font-family: sans-serif;
}

.main-container {
    display: flex;
    height: 100%;
}

.dashboard {
    background: #3292d4;
    color: white;
    height: 100%;
    flex: 1;
}

.dashboard-bar {
    display: grid;
    grid-template-columns: 1fr 4fr;
    align-items: center;
    font-size: 20px;
    margin: 20px 0;
}

.dashboard-bar .icon {
    justify-self: center;
}

.icon {
    width: 1.5rem;
    height: auto;
    filter: brightness(0) invert(1);
}

.dashboard-header .icon {
    width: 3rem;
}

.main-menu {
    margin: 50px 0;
}

.content-container {
    background: darkolivegreen;
    height: 100%;
    flex: 3.5;
}
