@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    box-sizing: border-box;
}



body {
    height: 100vh;
    font-family: "Roboto", sans-serif;
}

.main-container {
    display: flex;
    height: 100%;
}

.dashboard {
    background: #3292d4;
    color: white;
    height: 100%;
    flex: 1;
}

.icon {
    width: 25px;
    height: auto;
    filter: brightness(0) invert(1);
}

.content-container {
    background: darkolivegreen;
    height: 100%;
    flex: 3.5;
}
